<div id="<%= dom_id book %>">
  <p>
    <strong><%= t('Title') %>:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong><%= t('Memo') %>:</strong>
    <%= book.memo %>
  </p>

  <p>
    <strong><%= t('Author') %>:</strong>
    <%= book.author %>
  </p>

  <p>
    <strong><%= t('Picture') %>:</strong>
    <%= image_tag(book.picture_url) if book.picture.present? %>
  </p>

</div>
