<p style="color: green"><%= t(notice) %></p>

<div class="show-item">
  <%= render @book %>
</div>

<div>
  <nav class="page-nav">
    <%= link_to t('Edit this book'), edit_book_path(@book) %> |
    <%= link_to t('Back to books'), books_path %>

    <%= button_to t('Destroy this book'), @book, method: :delete %>
  </nav>
</div>
