<div id="<%= dom_id report %>">
  <p>
    <strong><%= Report.human_attribute_name(:title) %>:</strong>
    <%= report.title %>
  </p>

  <p>
    <strong><%= Report.human_attribute_name(:content) %>:</strong>
    <%= report.content %>
  </p>

  <p>
    <strong><%= Comment.human_attribute_name(:content) %>:</strong> <br />
    <% @report.comments.each do |comment| %>
      <%= comment.content %> <br />

      <%= t('comment.posted_by')%>:
      <% if !comment.user.name.blank? %>
        <%= comment.user.name %> <br />
      <% else %>
        <%= comment.user.email %> <br />
      <% end %>
      <br />
    <% end %>
  </p>
</div>
